.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  margin-top: 20px;
  max-width: 400px;
  margin: auto;
  
}

.game-button {
  width: 80px;
  height: 80px;
  font-size: 1rem;
  background-color: #08f14e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.game-button.clicked {
  background-color: #f44336;
}

@media (max-width: 600px) {
  .game-button {
    width: 60px;
    height: 60px;
  }
}
